In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
import statsmodels.api as st
import matplotlib.pyplot as plt

In [3]:
Buyer=pd.read_csv("C:\\Users\\advay\\Downloads\\Assignment 3\\BuyerRatio.csv")

In [6]:
data=Buyer.iloc[:,1:5]

In [7]:
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [8]:
stats.chi2_contingency(data)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))